.boton-contenedor {
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #707782;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  margin-top: 11px;
  cursor: pointer;
  user-select: none;
  flex: 1 1;
}

.boton-contenedor:hover {
  background-color: #52565e;
}

.operador {
  background-color: #00471b;
}

.operador:hover {
  background-color: #063819;
}
